@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Hevosenkengänkatu 2<br />
    06100 Porvoo<br />
    <abbr title="Puhelin">P:</abbr>
    019-1234567
</address>

<address>
    <strong>Yleiset asiat:</strong>   <a href="mailto:info@careeria.fi">info@careeria.fi</a><br />
    <strong>Opintoihin liittyvät asiat:</strong> <a href="mailto:opintotoimisto@careeria.fi">opintotoimisto@careeria.fi</a>
</address>