@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Minun ensimmäinen ASP.NET-sovellus</h2>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Mallibutton &raquo;</a></p>
</div>

