
@{
    ViewBag.Title = "Map";
}

<h2>Map</h2>
<h4>@ViewBag.Message</h4>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1971.503302791796!2d25.651384851407986!3d60.387364632694506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4691f5d5182ac701%3A0x4d708dd7d7d60249!2sHevosenkeng%C3%A4nkatu%202%2C%2006100%20Porvoo!5e0!3m2!1sfi!2sfi!4v1575018639089!5m2!1sfi!2sfi" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
